[Unit]
Description=RPi power supply service

[Service]
Type=simple
ExecStart=/bin/bash /home/pi/field-guard/scripts/run_power_supply_main.sh

[Install]
WantedBy=multi-user.target
